img {
  width: 25%;
  height: auto;
  float: right;
  margin: 15px;
  padding: 5px;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-weight: lighter;
}

.column {
  float: left;
  width: 50%;
  display: block;
  border: 2px solid lightgrey;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}
