img {
  width: 25%;
  height: auto;
  float: left;
  margin: 15px;
  padding: 5px;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-weight: lighter;
}

.column {
  width: 50%;
  float: left;
  border: 5px;
  border-color: darkgray;
}
