img {
  width: 25%;
  height: auto;
  float: right;
  margin: 15px;
  padding: 5px;
  border: solid lightslategrey;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-weight: lighter;
  background-color: whitesmoke;
}

.column {
  width: 50%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}

.thin {
  line-height: 0.5;
}

.highlight {
  background-color: #accef7;
}

.bottom-line {
  border-bottom: double rgb(71, 86, 99);
}

h1 {
  color: rgb(60, 113, 156);
  letter-spacing: 3px;
  border-bottom: solid rgb(60, 113, 156);
}

h2 {
  color:rgb(71, 86, 99);
}

h3 {
  color:rgb(95, 116, 134);
}

